/* You can add global styles to this file, and also import other style files */


@import "~bootstrap-less/bootstrap/bootstrap.less";
@import "~bootswatch/lumen/variables.less";
@import "~bootswatch/lumen/bootswatch.less";
@import "~font-awesome/less/font-awesome.less";


body {
  padding-top: 50px;
}

.avatar {
  float: left;
  margin-right: 5px;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.1);
}

.navbar {
  font-size: 15px;
}

.container {
  width: 100%;
}

.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }


// BEGIN:  Styles taken from gitlab-ce

.boards-list {
  min-height: 700px;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: (16px / 2);
  padding-left: (16px / 2);
  overflow-x: scroll;
  white-space: nowrap;

}

.board {
  display: inline-block;
  width: calc(85vw - 15px);
  height: 100%;
  padding-right: (16px / 2);
  padding-left: (16px / 2);
  white-space: normal;
  vertical-align: top;

  @media (min-width: @screen-sm-min) {
    width: 400px;
  }
}

.board-inner {
  position: relative;
  height: 100%;
  font-size: 14px;
  background: #fafafa;
  border: 1px solid #E5E5E5;
  border-radius: 3px;
}

.board-header {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  &.has-border {
    border-top: 3px solid;
    margin-top: -1px;
    margin-right: -1px;
    margin-left: -1px;
    padding-top: 1px;
    padding-right: 1px;
    padding-left: 1px;

    .board-title {
      padding-top: (16px - 3px);
    }
  }
}

.board-inner-container {
  border-bottom: 1px solid #E5E5E5;
  padding: 16px;
}

.board-title {
  position: relative;
  margin: 0;
  padding: 16px;
  border-bottom: 1px solid #E5E5E5;
}

.board-blank-state {
  height: calc(100% - 49px);
  padding: 16px;
  background-color: white;
}

.board-blank-state-list {
  list-style: none;

  > li:not(:last-child) {
    margin-bottom: 8px;
  }

  .label-color {
    position: relative;
    top: 2px;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 3px;
    border-radius: 3px;
  }
}

.board-list-component {
  height: calc(100% - 49px);
  overflow: hidden;
}

.board-list {
  height: 100%;
  width: 100%;
  margin-bottom: 0;
  padding: 5px;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
}

.card {
  position: relative;
  padding: 11px 10px 11px 16px;
  background: white;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(186, 186, 186, 0.5);
  list-style: none;

  &:not(:last-child) {
    margin-bottom: 5px;
  }

  .label {
    border: 0;
    outline: 0;
  }
}

.card-title {
  margin: 0 50px 0 0;
  line-height: inherit;

  a {
    color: #505050 !important;
    word-wrap: break-word;
    margin-right: 2px;
  }
}

.card-header {
  display: flex;
  min-height: 20px;

  .card-assignee {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 15px;
    height: 20px;
    width: 20px;

    .avatar-counter {
      display: none;
      vertical-align: middle;
      min-width: 20px;
      line-height: 19px;
      height: 20px;
      padding-left: 2px;
      padding-right: 2px;
      border-radius: 2em;
    }

    img {
      vertical-align: top;
    }

    a {
      position: relative;
      margin-left: -15px;
    }

    a:nth-child(1) {
      z-index: 3;
    }

    a:nth-child(2) {
      z-index: 2;
    }

    a:nth-child(3) {
      z-index: 1;
    }

    a:nth-child(4) {
      display: none;
    }

    &:hover {
      .avatar-counter {
        display: inline-block;
      }

      a {
        position: static;
        background-color: white;
        transition: background-color 0s;
        margin-left: auto;

        &:nth-child(4) {
          display: block;
        }

        &:first-child:not(:only-child) {
          box-shadow: -10px 0 10px 1px white;
        }
      }
    }
  }

  .avatar {
    margin: 0;
  }
}

.card-footer {
  margin: 0 0 5px;

  .label {
    margin-top: 5px;
    margin-right: 6px;
  }
}

.card-number {
  font-size: 12px;
  color: darkgray;
}


.page-with-layout-nav.page-with-sub-nav .issue-boards-sidebar {
  &.right-sidebar {
    top: 0;
    bottom: 0;
  }

  .issuable-sidebar-header {
    position: relative;
  }

  .gutter-toggle {
    position: absolute;
    top: 0;
    bottom: 15px;
    right: 0;
    width: 22px;
    color: black;

    svg {
      position: absolute;
      top: 50%;
      margin-top: (-11px / 2);
    }

    &:hover {
      path {
        fill: black;
      }
    }
  }

  .issuable-header-text {
    padding-right: 35px;

    > strong {
      font-weight: 600;
    }
  }
}

// END:  Styles taken from gitlab-ce
